.no-scroll {
    overflow: hidden;
}

.my-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* nền mờ */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: fadeIn 0.3s ease-in-out;
}

.my-modal-inner {
    background: white;
    border-radius: 16px;
    width: auto;
    max-width: 60%;
    max-height: 90vh;
    min-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /* bo tròn góc trên dưới */
    animation: scaleUp 0.3s ease;
}

/* Header nổi bật */
.my-modal-header {
    position: sticky;
    top: 0;
    background: linear-gradient(45deg, #2563eb, #e7e7e7);
    /* trắng → xanh biển */
    color: whitesmoke;
    /* chữ xanh đậm để nổi trên nền nhạt */
    font-weight: bold;
    font-size: 18px;
    padding: 16px 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 1;
}

/* Nội dung */
.my-modal-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fafafa;
}

.my-modal-content-inner {
    padding: 20px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Footer */
.my-modal-footer {
    border-top: 1px solid #eee;
    padding: 12px 50px;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.custom-datepicker {
    position: relative;
    width: 100%;
    display: block;
    height: 60px;
    line-height: 30px;
    padding: 15px 20px;
    font-size: 15px;
    color: #696969;
    background-color: #f0f5f7;
    border: 1px solid #f0f5f7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

    &:focus {
        border-color: var(--primary-color);
        background-color: #ffffff;
    }
}